{
  "plugins": [
    "stylelint-order"
  ],

  "extends": "stylelint-config-standard",

  "ignoreFiles": ["src/css/*.min.css"],

  "rules": {
    "declaration-block-no-duplicate-properties": true,
    "property-no-unknown": [
      true, {
        ignoreProperties:
          ["inset-block-end", "inset-block-start"]
    }],
    "property-disallowed-list": [
      "/(min[-]|max[-])height/",
      "/width/",
      "/top/",
      "/bottom/",
      "padding",
      "margin"
    ],
    "custom-property-pattern": null,
    "selector-class-pattern": null,
    "keyframes-name-pattern": null
  }
}
