{
  "plugins": [
    "stylelint-order"
  ],

  "extends": "stylelint-config-standard",

  "ignoreFiles": ["src/css/*.min.css"],

  "rules": {
    "declaration-block-no-duplicate-properties": true,
    "order/properties-alphabetical-order": true,
    "property-no-unknown": [
      true, {
        ignoreProperties:
          ["inset-block-end", "inset-block-start"]
    }],
    "property-blacklist": [
      "/(min[-]|max[-])height/",
      "/width/",
      "/top/",
      "/bottom/",
      "padding",
      "margin"
    ]
  }
}
