{
  "plugins": [
    "stylelint-order"
  ],

  "extends": "stylelint-config-standard",

  "ignoreFiles": ["src/css/*.min.css"],

  "rules": {
    "declaration-block-no-duplicate-properties": true,
    "property-no-unknown": [
      true, {
        ignoreProperties:
          ["inset-block-end", "inset-block-start"]
    }],
    "property-disallowed-list": [
      "/(min[-]|max[-])height/",
      "/width/",
      "/top/",
      "/bottom/",
      "padding",
      "margin"
    ],
    "alpha-value-notation": null,
    "color-function-notation": null,
    "color-function-alias-notation": null,
    "custom-property-pattern": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "declaration-block-no-shorthand-property-overrides": null,
    "declaration-property-value-no-unknown": null,
    "font-family-name-quotes": null,
    "function-url-quotes": null,
    "keyframes-name-pattern": null,
    "media-feature-range-notation": null,
    "property-no-vendor-prefix": null,
    "selector-attribute-quotes": null,
    "selector-class-pattern": null,
    "shorthand-property-no-redundant-values": null,
    "value-keyword-case": null
  }
}
