.container-notification {
  background: #33f70c;
  color: #003f07;
  display: flex;
  font: 12px sans-serif;
  inline-size: 100vw;
  justify-content: start;
  offset-block-start: 0;
  offset-inline-start: 0;
  padding-block-end: 8px;
  padding-block-start: 8px;
  padding-inline-end: 8px;
  padding-inline-start: 8px;
  position: fixed;
  text-align: start;
  transform: translateY(-100%);
  transition: transform 0.3s cubic-bezier(0.07, 0.95, 0, 1) 0.3s;
  z-index: 999999999999;
}

.container-notification img {
  block-size: 16px;
  display: inline-block;
  inline-size: 16px;
  margin-inline-end: 3px;
}
