body {
  background: #FAFAFA;
  min-inline-size: 200px;
  max-inline-size: 400px;
  inline-size: 264px;
}

table {
  margin-block-end: 0;
}

.button {
  background: #248aeb;
}

.panel {
  height: 100%;
}

.panel-row {
  height: 100%;
}

.panel-back-arrow {
  background: #ebebeb;
  display: flex;
  justify-content: center;
  text-align: center;
}

.onboarding {
  margin: 16px;
  min-block-size: 480px;

  display: flex;
  flex-flow: column;
  align-items: center;
}

.onboarding h3 {
  margin-block-start: 16px;
}

.onboarding * {
  text-align: center;
}

/* Make button placement to be consistent on tour */
.onboarding .spacing {
  margin-block-start: auto;
}

.popup-bumper {
  inline-size: 100%;
  padding: .5em;
}

.panel-header {
  height: 54px;
  display: flex;
  align-items: center;
}

.panel-header-text {
  font-weight: lighter;
  font-size: 16px;
  margin-bottom: 0;
  color: #4a4a4a;
}

.panel-header-button {
  justify-content: center;
}

.icon {
  max-inline-size: 16px;
  block-size: 16px;
}

.container-panel > table.unstriped tbody tr {
  border-bottom: 1px solid #f1f1f1;
  background-color: #fefefe;
  cursor: pointer;
}

.userContext-icon {
  background-image: var(--identity-icon);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: url('/img/filters.svg#fill');
  fill: var(--identity-icon-color);
  inline-size: 32px;
  block-size: 32px;
}

.userContext-icon:hover {
  background-image: url('/img/container-add.svg');
  fill: 'gray';
}

.edit-identities {
  background: #DCDBDC;
}

.panel-footer {
  align-items: center;
  background: #efefef;
  color: #000000;
  display: flex;
  font-size: 13px;
  height: 54px;
  width: 100%;
}

.footer-columns {
  margin: 0;
  padding: 0;
}

.footer-button {
  margin-bottom: 0;
  border-radius: 0;
}

.cancel-button {
  background: #ebebeb;
}

.edit-containers-text {
  text-align: center;
  border-right: solid 1px #d8d8d8;
}

.edit-containers-text a {
  color: #0a0a0a;
}

[data-identity-color="blue"] {
  --identity-tab-color: #0996f8;
  --identity-icon-color: #00a7e0;
}

[data-identity-color="turquoise"] {
  --identity-tab-color: #01bdad;
  --identity-icon-color: #01bdad;
}

[data-identity-color="green"] {
  --identity-tab-color: #57bd35;
  --identity-icon-color:  #7dc14c;
}

[data-identity-color="yellow"] {
  --identity-tab-color: #ffcb00;
  --identity-icon-color: #ffcb00;
}

[data-identity-color="orange"] {
  --identity-tab-color: #ff9216;
  --identity-icon-color: #ff9216;
}

[data-identity-color="red"] {
  --identity-tab-color: #d92215;
  --identity-icon-color: #d92215;
}

[data-identity-color="pink"] {
  --identity-tab-color: #ea385e;
  --identity-icon-color: #ee5195;
}

[data-identity-color="purple"] {
  --identity-tab-color: #7a2f7a;
  --identity-icon-color: #7a2f7a;
}

[data-identity-icon="fingerprint"] {
  --identity-icon: url("/img/usercontext.svg#fingerprint");
}

[data-identity-icon="briefcase"] {
  --identity-icon: url("/img/usercontext.svg#briefcase");
}

[data-identity-icon="dollar"] {
  --identity-icon: url("/img/usercontext.svg#dollar");
}

[data-identity-icon="cart"] {
  --identity-icon: url("/img/usercontext.svg#cart");
}

[data-identity-icon="circle"] {
  --identity-icon: url("/img/usercontext.svg#circle");
}

.container-info-has-tabs {
  cursor: pointer;
}

.edit-containers-panel-footer {
  background: #248aeb;
  color: #ffffff;
  justify-content: center;
}

.edit-containers-panel-footer a {
  color: #ffffff;
}
