body {
  inline-size: 264px;
  max-inline-size: 400px;
  min-inline-size: 200px;
}

table {
  margin-block-end: 0;
}

.button {
  background: #248aeb;
}

.panel {
  block-size: 100%;
}

.panel-row {
  block-size: 100%;
}

.panel-back-arrow {
  background: #ebebeb;
  box-shadow: inset -2px 0 2px -2px black;
  display: flex;
  justify-content: center;
  text-align: center;
}

.back-arrow-img {
  transform: scaleX(-1);
}

.onboarding {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin-block-end: 16px;
  margin-block-start: 16px;
  margin-inline-end: 16px;
  margin-inline-start: 16px;
}

.onboarding * {
  text-align: center;
}

.onboarding-img {
  block-size: 132px;
  inline-size: 180px;
}

.onboarding-title {
  color: #43484e;
  font-size: 14px;
  margin-block-end: 10px;
  margin-block-start: 20px;
}

.onboarding-subtext {
  color: #4a4a4a;
  font-size: 10px;
}

.popup-bumper {
  inline-size: 100%;
  padding-block-end: 0.5em;
  padding-block-start: 0.5em;
  padding-inline-end: 0.5em;
  padding-inline-start: 0.5em;
}

.panel-header {
  align-items: center;
  block-size: 54px;
  display: flex;
}

.panel-header-text {
  color: #4a4a4a;
  font-size: 16px;
  font-weight: lighter;
  margin-block-end: 0;
}

.panel-header-button {
  justify-content: center;
}

.icon {
  block-size: 16px;
  max-inline-size: 16px;
}

.icon[src=""] {
  inline-size: 16px;
  visibility: hidden;
}

table.unstriped tbody tr {
  background-color: #fefefe;
  border-block-end: 1px solid #f1f1f1;
}

/* .userContext-icon is used natively, Bug 1333811 was raised to fix */
.userContext-icon,
.usercontext-icon {
  background-image: var(--identity-icon);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  block-size: 20px;
  fill: var(--identity-icon-color);
  filter: url('/img/filters.svg#fill');
  inline-size: 20px;
  padding-left: 20px;
  padding-right: 10px;
}

.container-panel-row .usercontext-icon:hover {
  background-image: url('/img/container-newtab.svg');
  fill: 'gray';
  filter: url('/img/filters.svg#fill');
}

.edit-identities {
  background: #dcdbdc;
}

.panel-footer {
  align-items: center;
  background: #efefef;
  block-size: 54px;
  color: #000;
  display: flex;
  font-size: 13px;
  inline-size: 100%;
}

.footer-columns {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
}

.footer-button {
  border-radius: 0;
  margin-block-end: 0;
}

.cancel-button {
  background: #ebebeb;
}

.edit-containers-text {
  border-inline-end: solid 1px #d8d8d8;
  text-align: center;
}

.edit-containers-text a {
  color: #0a0a0a;
}

.container-name {
  max-inline-size: 7em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.edit-container-panel [type="radio"] {
  display: inline;
  margin-inline-start: -17px;
  text-indent: -999999px;
}

.edit-container-panel [type="radio"]:first-child {
  margin-inline-start: 0;
}

.edit-container-panel label {
  background: #fff;
  block-size: 20px;
  filter: none;
  inline-size: 20px;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  offset-inline-start: -18px;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
  position: relative;
}

.edit-container-panel [type="radio"]:checked + label {
  outline: 1px solid grey;
  -moz-outline-radius: 100%;
}

.edit-container-panel label::before {
  background: var(--identity-icon);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: calc(100% - 4px);
  block-size: calc(100% - 2px);
  border: unset;
  fill: var(--identity-icon-color);
  filter: url('/img/filters.svg#fill');
  inline-size: calc(100% - 2px);
  margin-block-end: 1px;
  margin-block-start: 1px;
  margin-inline-end: 1px;
  margin-inline-start: 1px;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
}

[data-identity-color="blue"] {
  --identity-tab-color: #0996f8;
  --identity-icon-color: #00a7e0;
}

[data-identity-color="turquoise"] {
  --identity-tab-color: #01bdad;
  --identity-icon-color: #01bdad;
}

[data-identity-color="green"] {
  --identity-tab-color: #57bd35;
  --identity-icon-color: #7dc14c;
}

[data-identity-color="yellow"] {
  --identity-tab-color: #ffcb00;
  --identity-icon-color: #ffcb00;
}

[data-identity-color="orange"] {
  --identity-tab-color: #ff9216;
  --identity-icon-color: #ff9216;
}

[data-identity-color="red"] {
  --identity-tab-color: #d92215;
  --identity-icon-color: #d92215;
}

[data-identity-color="pink"] {
  --identity-tab-color: #ea385e;
  --identity-icon-color: #ee5195;
}

[data-identity-color="purple"] {
  --identity-tab-color: #7a2f7a;
  --identity-icon-color: #7a2f7a;
}

[data-identity-icon="fingerprint"] {
  --identity-icon: url("/img/usercontext.svg#fingerprint");
}

[data-identity-icon="briefcase"] {
  --identity-icon: url("/img/usercontext.svg#briefcase");
}

[data-identity-icon="dollar"] {
  --identity-icon: url("/img/usercontext.svg#dollar");
}

[data-identity-icon="cart"] {
  --identity-icon: url("/img/usercontext.svg#cart");
}

[data-identity-icon="circle"] {
  --identity-icon: url("/img/usercontext.svg#circle");
}

.no-tabs-img {
  block-size: 12px;
  filter: opacity(30%);
  inline-size: 12px;
}

.show-tabs-img {
  block-size: 12px;
  inline-size: 12px;
}

.container-info-panel-header {
  align-items: center;
  block-size: 33px;
  border-block-end: 1px solid #ebebeb;
  display: flex;
  margin-block-end: 10px;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 20px;
  padding-inline-start: 20px;
}

.container-info-panel-hide {
  margin-block-end: 8px;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 20px;
  padding-inline-start: 20px;
}

.container-info-panel-hideorshow-icon {
  margin-inline-end: 7px;
}

.container-info-panel-movetabs {
  border-block-end: 1px solid #ebebeb;
  margin-block-end: 10px;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 20px;
  padding-inline-start: 20px;
}

.container-info-tab-row {
  display: block;
  margin-block-end: 8px;
}

.container-info-tab-row:not(.clickable) {
  opacity: 0.3;
}

.container-info-tab-title {
  font-size: 12px;
  max-inline-size: 13em;
  overflow: hidden;
  padding-inline-start: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #ebebeb;
}

.edit-containers-panel-footer a {
  color: #fff;
}

.edit-containers-exit-text {
  align-items: center;
  background: #248aeb;
  block-size: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
}

.exit-edit-mode-link::before {
  background: url('/img/container-arrow.svg') no-repeat;
  block-size: 16px;
  content: "";
  display: block;
  filter: grayscale(100%) brightness(5);
  float: left;
  inline-size: 16px;
  margin-inline-end: 5px;
  transform: scaleX(-1);
}

.exit-edit-mode-link {
  float: left;
}

.delete-container-confirm {
  padding-inline-end: 20px;
  padding-inline-start: 20px;
}

.delete-container-confirm-title {
  color: #000;
  font-size: 16px;
}

.choose-color-icon {
  padding-inline-end: 7px;
  padding-inline-start: 17px;
}

.scrollable {
  max-block-size: 480px;
  overflow: auto;
}
