/* General Rules and Resets */
.title {
  background-image: none;
}

main {
  background: url(/img/onboarding-4.png) no-repeat;
  background-position: -10px -15px;
  background-size: 300px;
  margin-inline-start: -350px;
  padding-inline-start: 350px;
}

.container-name {
  font-weight: bold;
}

button .container-name,
#current-container-name {
  font-weight: bold;
}

@media only screen and (max-width: 1300px) {
  main {
    background: none;
  }

  /* for a mid sized window we have enough for this but not our image */
  .title {
    background-image: url("chrome://global/skin/icons/info.svg");
  }
}

html {
  box-sizing: border-box;
  font: message-box;
}

#redirect-url,
#redirect-origin {
  font-weight: bold;

  /* max-inline-size is needed to force this text smaller than the layout at a mid-sized window */
  max-inline-size: 40rem;
  word-break: break-all;
}

/* Fallbacks for Firefox < 89. In Firefox 89+, content pages like the
   confirmation page follow the Firefox theme instead of the system theme.
   That requires the -moz-toolbar-prefers-color-scheme media query. Instead
   of supporting that query as well, we use color-mix for the background-color,
   which is also supported in Firefox 89+. */
/* stylelint-disable media-feature-name-no-unknown */
@media (prefers-color-scheme: dark) {
  #redirect-url {
    background-color: #38383d; /* Grey 70 */
  }
}

@media (prefers-color-scheme: light) {
  #redirect-url {
    background-color: #efedf0;
  }
}
/* stylelint-enable */

#redirect-url {
  background-color: color-mix(in sRGB, currentColor 10%, transparent);
  border-radius: 2px;
  line-height: 1.5;
  padding-block-end: 0.5rem;
  padding-block-start: 0.5rem;
  padding-inline-end: 0.5rem;
  padding-inline-start: 0.5rem;
}

#redirect-url img {
  block-size: 16px;
  inline-size: 16px;
  margin-inline-end: 6px;
  offset-block-start: 3px;
  position: relative;
}

dfn {
  font-style: normal;
}

.button-container > button {
  min-inline-size: 240px;
}

.check-label {
  align-items: center;
  display: flex;
}
