#container-notifications,
#container-notifications * {
  all: unset;
}

#container-notifications {
  display: block;
  inline-size: 100vw;
  inset-block-start: 0; /* stylelint-disable-line property-no-unknown */
  inset-inline-start: 0; /* stylelint-disable-line property-no-unknown */
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  offset-block-start: 0;
  offset-inline-start: 0;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
  position: fixed;
  z-index: 999999999999;
}

#container-notifications > iframe {
  border: 1px solid;
  inset-block-start: 4px; /* stylelint-disable-line property-no-unknown */
  inset-inline-end: 4px; /* stylelint-disable-line property-no-unknown */
  offset-block-start: 4px;
  offset-inline-end: 4px;
  position: absolute;
  z-index: 2;
}

#container-notifications > div.recording {
  z-index: 1;
}

#container-notifications > div {
  display: block;
  max-block-size: 0;
  overflow: hidden;
  position: relative;
  transition: all 1s cubic-bezier(0.07, 0.95, 0, 1);
}

#container-notifications > div.show {
  max-block-size: 500px;
  transition: all 1s ease-in;
}

#container-notifications > div:hover,
#container-notifications > div:focus,
#container-notifications > div:visited {
  color: #003f07;
  text-decoration: none;
}

#container-notifications > div > div.real {
  inset-block-end: 0; /* stylelint-disable-line property-no-unknown */
  offset-block-end: 0;
  position: absolute;
}

#container-notifications > div > div.dummy {
  visibility: hidden;
}

#container-notifications > div > div > div {
  align-items: center;
  background: #efefef;
  color: #003f07;
  display: flex;
  font: 12px sans-serif;
  inline-size: 100vw;
  justify-content: start;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding-block-end: 8px;
  padding-block-start: 8px;
  padding-inline-end: 8px;
  padding-inline-start: 8px;
  text-align: start;
}

#container-notifications > div > div > div > .title {
  font-weight: bold;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

#container-notifications > div > div > div > .logo {
  block-size: 16px;
  display: inline-block;
  inline-size: 16px;
  margin-inline-end: 3px;
}

#container-notifications > div.recording > div > div {
  background: #fcc;
}

#container-notifications > div.recording > div > div > .title {
  color: red;
}
