#userContext-indicator {
  height: 16px;
  list-style-image: none !important;
  vertical-align: middle;
  width: 16px;
}

#userContext-label {
  color: var(--identity-tab-color) !important;
  margin-inline-end: 5px;
  max-inline-size: 75px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#userContext-icons {
  -moz-box-align: center;
  align-items: center;
  display: flex;
  max-inline-size: 120px;
}

#userContext-icons[data-identity-color=""] {
  display: none;
}

/* containers experiment */

/* reset nightly containers */
.tabbrowser-tab[usercontextid] {
  background-image: none !important;
  background-repeat: no-repeat;
  background-size: 0;
}

/* special styles run through a psuedo-class off of
these elements so they need to be relatively positioned.
these styles address both regular and compact themes,
special cases are addressed below */
.tabbrowser-tab[usercontextid] .tab-background-middle,
#main-window[style*='compact'] .tabbrowser-tab[usercontextid] .tab-content,
#verticaltabs-box .tabbrowser-tab[usercontextid] .tab-content {
  position: relative;
}

.tabbrowser-tab[usercontextid] .tab-background-middle::after,
#main-window[style*='compact'] .tabbrowser-tab[usercontextid] .tab-content::after {
  background-color: var(--identity-tab-color);
  bottom: 0;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 999;
}

.tabbrowser-tab[usercontextid] .tab-background-middle::after {
  background-color: var(--identity-tab-color);
  border-radius: 2px 2px 0 0;
  bottom: 1px;
  height: 3px;
}

.tabbrowser-tab[usercontextid]:not([visuallyselected="true"]) .tab-background-middle::after {
  bottom: 2px;
  height: 2px !important;
}

.tabbrowser-tab[usercontextid][pinned="true"] .tab-background-middle::after {
  left: -150%;
  width: 400%;
}

.tabs-newtab-button .toolbarbutton-icon[type="menu"] {
  margin-inline-end: 0;
}

.tabs-newtab-button .toolbarbutton-menu-dropmarker {
  display: none;
}

#new-tab-overlay {
  --icon-size: 16px;
  -moz-appearance: none;
  background: transparent;
  font-style: -moz-use-system-font;
  inline-size: 180px;
  margin-inline-start: -50px !important;
  visibility: visible;
}

#new-tab-overlay .panel-arrowcontent {
  -moz-appearance: none !important;
  background: none;
  border: 0;
  box-shadow: none;
  display: block;
  margin-block-end: 0;
  margin-block-start: 2px;
  padding-block-start: 0 !important;
}

#new-tab-overlay .panel-arrowcontent,
#new-tab-overlay menuitem {
  inline-size: 100%;
}

#new-tab-overlay .panel-arrowbox {
  display: none;
}

#new-tab-overlay[hidden=true] {
  display: none;
}

#new-tab-overlay menuitem {
  -moz-appearance: none;
  background: white;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 0 7px #0004;
  color: #4b4b4b;
  margin-block-end: 5px;
  padding-block-end: 10px;
  padding-block-start: 10px;
  padding-inline-end: 10px;
  padding-inline-start: 10px;
}

#new-tab-overlay menuitem:hover {
  background: #f2f2f2;
}

#new-tab-overlay .menuitem-iconic[data-usercontextid] > .menu-iconic-left > .menu-iconic-icon {
  block-size: var(--icon-size);
  inline-size: var(--icon-size);
}

.menuitem-iconic[data-usercontextid] > .menu-iconic-left {
  visibility: visible;
}
