[data-identity-color="blue"] {
  --identity-tab-color: #37adff;
  --identity-icon-color: #37adff;
}

[data-identity-color="turquoise"] {
  --identity-tab-color: #00c79a;
  --identity-icon-color: #00c79a;
}

[data-identity-color="green"] {
  --identity-tab-color: #51cd00;
  --identity-icon-color:  #51cd00;
}

[data-identity-color="yellow"] {
  --identity-tab-color: #ffcb00;
  --identity-icon-color: #ffcb00;
}

[data-identity-color="orange"] {
  --identity-tab-color: #ff9f00;
  --identity-icon-color: #ff9f00;
}

[data-identity-color="red"] {
  --identity-tab-color: #ff613d;
  --identity-icon-color: #ff613d;
}

[data-identity-color="pink"] {
  --identity-tab-color: #ff4bda;
  --identity-icon-color: #ff4bda;
}

[data-identity-color="purple"] {
  --identity-tab-color: #af51f5;
  --identity-icon-color: #af51f5;
}

[data-identity-icon="fingerprint"] {
  /*--identity-icon: url("chrome://browser/content/usercontext.svg#fingerprint"); */
  --identity-icon: url("resource://testpilot-containers/data/usercontext.svg#fingerprint");
}

[data-identity-icon="briefcase"] {
  /* --identity-icon: url("chrome://browser/content/usercontext.svg#briefcase"); */
  --identity-icon: url("resource://testpilot-containers/data/usercontext.svg#briefcase");
}

[data-identity-icon="dollar"] {
  /* --identity-icon: url("chrome://browser/content/usercontext.svg#dollar"); */
  --identity-icon: url("resource://testpilot-containers/data/usercontext.svg#dollar");
}

[data-identity-icon="cart"] {
  /* --identity-icon: url("chrome://browser/content/usercontext.svg#cart"); */
  --identity-icon: url("resource://testpilot-containers/data/usercontext.svg#cart");
}

[data-identity-icon="circle"] {
  /* --identity-icon: url("chrome://browser/content/usercontext.svg#circle"); */
  --identity-icon: url("resource://testpilot-containers/data/usercontext.svg#circle");
}

#userContext-indicator {
  height: 16px;
  width: 16px;
}

#userContext-label {
  margin-inline-end: 3px;
  color: var(--identity-tab-color);
}

#userContext-icons {
  -moz-box-align: center;
}

.userContext-icon,
.menuitem-iconic[data-usercontextid] > .menu-iconic-left > .menu-iconic-icon,
.subviewbutton[usercontextid] > .toolbarbutton-icon,
#userContext-indicator {
  background-image: var(--identity-icon);
  filter: url(/img/filters.svg#fill);
  filter: url(resource://testpilot-containers/data/filters.svg#fill);
  fill: var(--identity-icon-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* containers experiment */

/* reset nightly containers */
.tabbrowser-tab[usercontextid] {
  background: none !important;
  background-image: none;
  background-size: 0;
  background-repeat: no-repeat;
}

/* special styles run through a psuedo-class off of
these elements so they need to be relatively positioned.
these styles address both regular and compact themes,
special cases are addressed below */
.tabbrowser-tab[usercontextid] .tab-background-middle,
#main-window[style*='compact'] .tabbrowser-tab[usercontextid] .tab-content,
#verticaltabs-box .tabbrowser-tab[usercontextid] .tab-content {
  position: relative;
}

.tabbrowser-tab[usercontextid] .tab-background-middle::after,
#main-window[style*='compact'] .tabbrowser-tab[usercontextid] .tab-content::after {
  background-color: var(--identity-tab-color);
  bottom: 0;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 999;
}

.tabbrowser-tab[usercontextid] .tab-background-middle::after {
  background-color: var(--identity-tab-color);
  border-radius: 2px 2px 0 0;
  bottom: 1px;
  height: 3px;
}

.tabbrowser-tab[usercontextid]:not([visuallyselected="true"]) .tab-background-middle::after {
  bottom: 2px;
  height: 2px !important;
}

.tabbrowser-tab[usercontextid][pinned="true"] .tab-background-middle::after {
  left: -150%;
  width: 400%;
}

/* this fixes containers tab center */
#verticaltabs-box .tabbrowser-tab[usercontextid] .tab-content::after {
  background-color: var(--identity-tab-color);
  top: 0;
  left: 0;
  content: '';
  height: 100% !important;
  position: absolute;
  width: 3px !important;
  z-index: 999;
}

.tabs-newtab-button .toolbarbutton-icon[type="menu"] {
  margin-inline-end: 0;
}

.tabs-newtab-button .toolbarbutton-menu-dropmarker {
  display: none;
}

#new-tab-overlay {
  visibility: visible;
  background: transparent;
  -moz-appearance: none;
  offset-block-start: 29px;

  font-style: -moz-use-system-font;
  --icon-size: 26px;
}

#new-tab-overlay .panel-arrowcontent {
  -moz-appearance: none;
  background: none;
  border: 0;
  box-shadow: none;
  block-size: 200px;
  display: block;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-block-start: 0;
}

#new-tab-overlay .panel-arrowcontent,
#new-tab-overlay menuitem {
  /* Limited width to 8chars roughly */
  inline-size: calc(calc(8*1.5ch) + var(--icon-size) + 3px);
}

#new-tab-overlay .panel-arrowbox {
  display: none;
}

#new-tab-overlay[hidden=true] {
  display: none;
}

#new-tab-overlay menuitem {
  background: white;
  margin-block-end: 12px;
  border-radius: 20px;
  -moz-appearance: none;
  color: #4b4b4b;
  padding: 6px;
  box-shadow: 3px 7px 7px #0006;
}

#new-tab-overlay .menuitem-iconic[data-usercontextid] > .menu-iconic-left > .menu-iconic-icon {
  block-height: var(--icon-size);
  block-width: var(--icon-size);
}

.menuitem-iconic[data-usercontextid] > .menu-iconic-left {
  visibility: visible;
}
